<div class="offcanvas-header">
  <p class="offcanvas-title">Aplios / <span style="color: rgb(0, 140, 255);">Analista de Sistemas</span></p>
  <button
    type="button"
    class="btn-close text-reset"
    aria-label="Close"
    (click)="activeOffcanvas.dismiss('Cross click')"
  ></button>
</div>
<div class="offcanvas-body">
  <p><strong>Situación:</strong> Mejorar la escalabilidad y eficiencia del desarrollo de servicios críticos de ámbito financiero para el cliente Equifax mediante la creación de microservicios y soluciones automatizadas.</p>
      <p><strong>Tarea:</strong> Diseñar y desarrollar soluciones microservicios robustos, implementar pruebas automatizadas, y contribuir al desarrollo full-stack con prácticas de desarrollo ágil.</p>
      <p><strong>Acción:</strong></p>
        <ul class="list-unstyled">
          <li>
            <ul>
              <li>Desarrollé microservicios en <mark>Java</mark> utilizando <mark>Spring Boot</mark>, integrando APIs REST escalables y almacenamiento en caché con <mark>Redis</mark>, siguiendo principios de arquitectura limpia y desarrollo orientado a pruebas (TDD) con <mark>JUnit</mark> y <mark>Mockito</mark>.</li>
              <li>Implementé orquestadores funcionales que mejoraron la modularidad del sistema, optimizando la reutilización de componentes.</li>
              <li>Colaboré en el desarrollo backend y frontend de una aplicación generadora de plantillas para servicios <mark>.NET</mark>, acelerando los despliegues y reduciendo tiempos de configuración.</li>
              <li>Implementé aplicaciones frontend dinámicas con Angular (TypeScript), aplicación móvil usando React Native creando componentes reutilizables y optimizados.</li>
              <li>Desarrollé funcionalidades completas de consumo de APIs REST utilizando servicios y modelos Angular, asegurando una integración fluida con microservicios backend desarrollados en <mark>Spring Boot</mark></li>
              <li>Automatice procesos con <mark>Jenkins</mark> y gestioné tareas con <mark>Jira</mark>, participando activamente en metodologías <mark>Scrum</mark> para fomentar la entrega continua.</li>
              <li>Usé <mark>GitHub</mark> y herramientas colaborativas de <mark>Google</mark> para integración continua y control de versiones.</li>
            </ul>
          </li>
        </ul>
        <p><strong>Resultado:</strong> </p>
        <ul class="list-unstyled">
          <li>
            <ul>
              <li>Incremento del rendimiento y la capacidad de respuesta del sistema mediante soluciones escalables.</li>
              <li>Aceleración del desarrollo de servicios en <mark>.NET</mark> gracias a la creación dinámica con <mark>Angular</mark> en el frontend y <mark>Java</mark> en el backend reduciendo el tiempo de desarrollo de 2 semanas a 4 días mediante la creación de componentes reutilizables y patrones de diseño eficientes.</li>
              <li>Mejora de la calidad del código, asegurando altos estándares de mantenibilidad y cobertura de pruebas.</li>
            </ul>
          </li>
        </ul>
  <div class="text-end">
    <button type="button" class="btn btn-outline-secondary" (click)="activeOffcanvas.close('Close click')">Cerrar</button>
  </div>
</div>