
.col-left{
    background-color: rgb(34, 64, 92);
    padding: 1.5em !important;
}
.col-right{
    background-color: #f3f3f3;
    color: black;
    padding: 1.5em !important;
    border: solid 1px #e0e0e0;
}
.navbar{
    color: white !important;
}
.navbar.bg-body-tertiary{
    background-color: unset!important;
}
.profileimg {
    border-radius: 50%;
  }