
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-12 text-end"> 
            <div ngbDropdown class="d-inline-block">
              <a href="#" type="button" id="dropdownBasic1" ngbDropdownToggle class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Download CV</a>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <a href="https://fgzea784zr8az2nz.public.blob.vercel-storage.com/cv_en-dxTrkjLk7lGZVRv3Ta0P7ZXr3n9LLh.pdf" download="CV_Roger_Alcivar-English" target="_blank" rel="noopener noreferrer" ngbDropdownItem class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Download CV English</a>
                <a href="https://fgzea784zr8az2nz.public.blob.vercel-storage.com/cv_es-okQHhUPpvPMQ6JUPQw1NQ3q3hZIZHP.pdf" download="CV_Roger_Alcivar-Spanish" target="_blank" rel="noopener noreferrer" ngbDropdownItem class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Download CV Spanish</a>
              </div>
            </div>
      </div> 
    </div>
    <div class="row justify-content-center"> 
      <div class="col-md-4 col-12 col-left">
        <div class="text-center"> 
          <img src="https://fgzea784zr8az2nz.public.blob.vercel-storage.com/profile-PLYbnQbadt1Cqqraq6uhDb5ygFqSZZ.JPG" class="profileimg shadow" width="130">
        </div>
        <div class="text-center">
          <p class="display-5 fw-semibold" style="
          padding: unset;
          margin: unset;
      ">Roger Alcivar</p> 
          <p class="fw-normal fs-5">Full Stack Developer 
            & DevOps</p> 
        </div> 
        <figure>
          <blockquote class="blockquote"> 
            <h3><i class="bi bi-flag-fill" style="font-size: 0.8em;"></i> Ecuador</h3>
          </blockquote>
          <figcaption class="blockquote-footer" style="color: #e0e0e0 !important;">
            <cite title="Source Title">Disponibilidad para vivir en cualquier ciudad.</cite>
          </figcaption>
        </figure> 
          <p class="fw-bold h4">Habilidades</p>
          <p class="fst-italic"><strong>Lenguajes: </strong>Java (Spring Boot), .Net Core (C#), Kotlin, Python, Bash Scripts,PowerShell</p>
          <p>
            <strong>DevOps y CI/CD:</strong> Jenkins, Docker, Kubernetes, Ansible, Tomcat, Windows IIS, SonarQube, Jira, Confluence</p>
          <p>
            <strong>Cloud:</strong> AWS, GCP 
          </p>
          <p>
            <strong>Frameworks Frontend:</strong> Angular (JS y TypeScript), React Native</p>
          <p class="fw-bold h4">Idiomas</p>
          <p>Inglés (Básico Intermedio) <br> Español (Nativo) <br> Portugués (Básico Intermedio)</p>
          <p class="fw-bold h4">Educacion</p> 
          <p >Ingeniería en Sistemas - UTEQ <br> <small>Quevedo - Ecuador</small></p>
      </div>
      <div class="col-md-6 col-12 col-right"> 
        <p class="h4" style="color: rgb(0, 140, 255);">Java | Spring Boot | Angular | CI/CD | Jenkins | AWS</p>
        
        <div style="font-size: 90%;">
            <a class="icon-link link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" target="_blank" href="mailto:juroalca&#64;gmail.com" style="padding-right: 10px;">
              <i class="bi bi-at" style="font-size: 1.2em;color: grey;"></i>
              juroalca&#64;gmail.com
            </a>
            <a class="icon-link link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" target="_blank" href="https:www.linkedin.com/in/roger-alcivar" style="padding-right: 10px;">
              <i class="bi bi-linkedin" style="font-size: 1.2em;color: grey;"></i>  
              linkedin.com/in/roger-alcivar
            </a>
            <a class="icon-link link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" target="_blank" href="https://roger-alcivar.vercel.app" style="padding-right: 10px;">
              <i class="bi bi-link-45deg" style="font-size: 1.2em;color: grey;"></i>  
              roger-alcivar.vercel.app
            </a>
            <a class="icon-link link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" target="_blank" href="https://github.com/Thecode42" style="padding-right: 10px;">
              <i class="bi bi-github" style="font-size: 1.2em;color: grey;"></i>  
              github.com/Thecode42
            </a>
        </div>
        <p>
        </p> 
        <h4>Resumen</h4> 
        <div style="border-top: solid 1px #e0e0e0;"> 
          <p class="fw-normal">Desarrollador backend con más de 7 años de experiencia, con fuertes conocimientos en Java, 
            <span style="text-decoration: underline;text-decoration-style:dotted;" placement="top" ngbTooltip="Desarrollo orientado a pruebas">TDD</span>, APIs
            REST, microservicios en el fronted con Angular y React Native para desarrollo movil además de contar con
            conocimientos en Kotlin con Ktor. Me desempeñé
            como <span style="text-decoration: underline;text-decoration-style:dotted;" placement="top" ngbTooltip="Site Reliability Engineer">SRE</span>/DevOps por 3 años utilizando
            prácticas <span style="text-decoration: underline;text-decoration-style:dotted;" placement="top" ngbTooltip="Integracion continua y entrega continua">CI/CD</span>, despliegue en <span style="text-decoration: underline;text-decoration-style:dotted;" placement="top" ngbTooltip="Amazon Web Services">AWS</span>, con
            Jenkins, SonarQube y Ansible.</p>
            <p>Destaco por mi capacidad para trabajar bajo
              presión, dedicación para cumplir plazos
              exigentes, determinación para resolver
              problemas complejos y habilidades para fomentar
              la colaboración en equipos multidisciplinarios,
              contribuyendo a un entorno de trabajo eficiente y
              orientado a resultados.</p>
        </div>
        <ng-template #content let-offcanvas>
        </ng-template>
        <h4>Experiencia</h4> 
        <div style="border-top: solid 1px #e0e0e0;">
          <p>Equifax / <span style="color: rgb(0, 140, 255);">Site Reliability Engineer</span><br> 
            <small style="font-weight: 200;">Agosto 2021 - Mayo 2024 / Hibrido / Quito</small> </p> 
            <ul class="list-unstyled">
              <li>
                <ul>
                  <li>Apoyo en procesos de monitoreo de aplicaciones para el cumplimiento de <span style="text-decoration: underline;text-decoration-style:dotted;" placement="top" ngbTooltip="Acuerdo de Nivel de Servicio">SLAs</span> requeridos.</li>
                  <li>Automatización de despliegues en AWS mediante Jenkins, Ansible y Python, mejorando los tiempos de despliegue y la eficiencia operativa.</li>
                  <li>Administración de Tomcat en Linux, Docker, Kubernetes y Windows IIS.</li>
                </ul> 
              </li>
              <li><button class="btn btn-sm btn-outline-primary mb-2 me-2" (click)="openEnd(content, 'job1')">Casos de uso..</button></li>
            </ul>
          <p>Aplios / <span style="color: rgb(0, 140, 255);">Analista de Sistemas</span><br>
          <small style="font-weight: 200;">Septiembre 2018 - Agosto 2021 / Hibrido / Quito</small></p>
          <ul class="list-unstyled">
            <li>
              <ul>
                <li>Desarrollo de microservicios utilizando Spring Boot, integrando APIs REST para servicios escalables.</li>
                  <li>Creación de aplicaciones con Angular 5 (TypeScript) y de aplicaciones móviles con React.</li>
                  <li>Entorno de desarrollo guiado por pruebas (TDD) utilizando JUnit y Mockito, junto con análisis de código utilizando SonarQube.</li>
                  <li>Automatización con Jenkins, metodología scrum y gestión de tareas utilizando Jira.</li>
                  <li>Integración continua y control de versiones con Github.</li>
              </ul>
            </li>
            <li><button class="btn btn-sm btn-outline-primary mb-2 me-2" (click)="openEnd(content, 'job2')">Casos de uso..</button></li>
          </ul>
          <p>Tata Consultancy Services / <span style="color: rgb(0, 140, 255);">Analista TI</span> <br>
          <small style="font-weight: 200;">Marzo 2015 - Septiembre 2018 / Presencial / Quito</small> </p>
          <ul class="list-unstyled">
            <li>
              <ul>
                <li>Banco Pichincha – Análisis GAP del Programa de Transformación Administrativa Financiera</li>
                <li>SRI – Sistema de Estructuración Interna, Componente Integral de Aplicaciones Tecnológicas. Java EE Web Services (JSON), SOA, Angular, Oracle, metodología Scrum.</li>
                <li>BGR – Sistema de Canales Electrónicos (Java y .NET), Protocolo TLS, Consolidación y Cambio de Arquitectura a Microservicios (Microservicios .NET C# (XML, JSON)).</li>
              </ul>
            </li> 
            <li><button class="btn btn-sm btn-outline-primary mb-2 me-2" (click)="openEnd(content,'job3')">Casos de uso..</button></li>
          </ul>
          <p>Baden Powell Corporation / <span style="color: rgb(0, 140, 255);">Analista TI</span><br> 
          <small style="font-weight: 200;">Abril 2012 - Julio 2012 / Presencial / Quevedo</small> </p>
          <ul class="list-unstyled">
            <li>
              <ul>
                <li>Desarrollador de un sistema contable en varias plataformas .Net (VB,C#,SqlServer).</li>
                <li>Desarrollo de módulos y administrador de base de datos para un sistema contable interno.</li>
              </ul>
            </li>
            <li><button class="btn btn-sm btn-outline-primary mb-2 me-2" (click)="openEnd(content, 'job4')">Casos de uso..</button></li> 
          </ul>
        </div> 
      </div>
    </div>
  </div>
<router-outlet />
