<div class="offcanvas-header">
  <p class="offcanvas-title">Baden Powell Corporation / <span style="color: rgb(0, 140, 255);">Analista TI</span></p>
  <button
    type="button"
    class="btn-close text-reset"
    aria-label="Close"
    (click)="activeOffcanvas.dismiss('Cross click')"
  ></button>
</div>
<div class="offcanvas-body">
  <p><strong>Situación:</strong> Implementar un sistema de gestión contable interno para automatizar procesos administrativos y generar reportes fiscales alineados con los requisitos del <span style="text-decoration: underline;text-decoration-style:dotted;" placement="top" ngbTooltip="Servicio de Rentas Internas">SRI</span>. </p>
    <p><strong>Tarea:</strong> Diseñar y desarrollar una aplicación de escritorio desde la base de datos hasta la interfaz de usuario, integrando funcionalidades avanzadas para la gestión contable.</p>
    <p><strong>Acción:</strong></p>
      <ul class="list-unstyled">
        <li>
          <ul>
            <li>Diseñe y desarrollé un sistema contable utilizando <mark>.NET (VB, C#)</mark> y <mark>SQL Server</mark>, creando módulos personalizados para la automatización de procesos financieros y administrativos.</li>
            <li>Implementé una arquitectura multicapa que incluyó capas de acceso a datos, lógica de negocio y presentación, garantizando escalabilidad y facilidad de mantenimiento.</li>
            <li>Administré bases de datos relacionales para manejar transacciones y generar reportes conformes a las regulaciones del <span style="text-decoration: underline;text-decoration-style:dotted;" placement="top" ngbTooltip="Servicio de Rentas Internas">SRI</span>.</li>
          </ul>
        </li>
      </ul>
      <p><strong>Resultado:</strong> </p>
      <ul class="list-unstyled">
        <li>
          <ul>
            <li>Reducción significativa de los tiempos de procesamiento contable mediante la automatización de reportes y documentos fiscales.</li>
            <li>Mejora de la eficiencia operativa de los usuarios, optimizando la precisión de la gestión financiera y el cumplimiento normativo.</li>
          </ul> 
        </li>
      </ul>
  <div class="text-end">
    <button type="button" class="btn btn-outline-secondary" (click)="activeOffcanvas.close('Close click')">Cerrar</button>
  </div>
</div>