<div class="offcanvas-header">
  <p class="offcanvas-title">Tata Consultancy Services / <span style="color: rgb(0, 140, 255);">Analista TI</span></p>
  <button
    type="button"
    class="btn-close text-reset"
    aria-label="Close"
    (click)="activeOffcanvas.dismiss('Cross click')"
  ></button>
</div>
<div class="offcanvas-body">
  <p><strong>Situación:</strong> Participar en proyectos estratégicos para mejorar la eficiencia y modernizar sistemas de misión crítica en sectores gubernamentales y bancarios.</p>
    <p><strong>Tarea:</strong> Desarrollar y mantener aplicaciones, liderar la transformación de arquitecturas, y colaborar en la implementación de soluciones tecnológicas innovadoras.</p>
    <p><strong>Acción:</strong></p>
      <ul class="list-unstyled">
        <li>
          <ul>
            <li>Contribuí al desarrollo de sistemas contables y de recursos humanos internos, optimizando procesos para mejorar la gestión del personal.</li>
            <li>Formé parte del proyecto nacional del Servicio de Rentas Internas del Ecuador (SRI), desarrollando servicios con <mark>Java EE</mark>, Web Services <mark>(JSON)</mark>, <mark>SOA</mark> y <mark>Angular</mark>, trabajando directamente con clientes y equipos bajo metodología Scrum.</li>
            <li>Desarrollé y optimicé funcionalidades de aplicaciones web para clientes del sector bancario utilizando <mark>Java</mark>, mejorando la experiencia del usuario y la eficiencia de las operaciones así como en el cambio crítico de protocolo de seguridad <span style="text-decoration: underline;text-decoration-style:dotted;" placement="top" ngbTooltip="Seguridad de capa de sockets seguros">TLS</span> de aquel entonces.</li>
            <li>Participé en la modernización del Sistema de Canales Electrónicos para <span style="text-decoration: underline;text-decoration-style:dotted;" placement="top" ngbTooltip="Banco General Rumiñahui">BGR</span>, colaborando con arquitectos en la transformación digital, migrando de sistemas monolíticos a microservicios con <mark>.NET C# (XML, JSON)</mark>.</li>
          </ul>
        </li>
      </ul>
      <p><strong>Resultado:</strong> </p>
      <ul class="list-unstyled">
        <li>
          <ul>
            <li>Mejora de la capacidad de respuesta y escalabilidad de las aplicaciones bancarias, alineadas con las necesidades de transformación digital.</li>
            <li>Incremento en la eficiencia operativa mediante automatización y nuevas funcionalidades adaptadas a estándares modernos.</li>
            <li>Experiencia significativa en liderazgo técnico y colaboración multifuncional, fortaleciendo habilidades de gestión de proyectos y comunicación con stakeholders.</li>
          </ul> 
        </li>
      </ul>
  <div class="text-end">
    <button type="button" class="btn btn-outline-secondary" (click)="activeOffcanvas.close('Close click')">Cerrar</button>
  </div>
</div>